/* 
    TODO:   * make footer like nav-bar: add some sort of copywrite center it? 
            * flex container the center image as well as the a tag, make image bigger?
            * replace text with icons for social meadia placeholder
*/


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    background-color: #000;
    color: white;
}


/* Home page */
/* ========= */
.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}


.nav-bar{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #333333 solid;

    /* background-color: grey; */
    color: white;
}

.logo{
    font-size: 26px;
    color: orange;
    font-weight: bold;
    width: 12rem;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-decoration: none;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
}

.nav-list-right{
    width: 12rem;
    justify-content: center;
}

.nav-item{
    padding: 0 2em;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#leftmost-nav-item{
    padding-left: 0;
}

#rightmost-nav-item{
    padding-right: 0;
}

.nav-icon{
    /* border: black 1px solid; */
    padding: 0 .5em;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.fab{
    color: white;
}
.fab:hover{
    color: orange;
}

.nav-link{
    color: black;
    text-decoration: none;
    color: white;
    position: relative;

    transition: color 300ms ease-in-out;
}
.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: orange;

    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.nav-link:hover::before,
.nav-link:focus::before{
    transform: scaleX(1);
}

.nav-link:hover{
    color: orange;
}

#burger{
    display: none;
    margin: 2rem;

}
.menu-option{
    height: 5px;
    width: 10px;
    background-color: white;
    margin: 5px;
}

/* mobile nav-bar */
@media screen and (max-width: 768px){
    .mobile-nav-list{
        position: absolute;
        right: 0;
        left: 0;
        height: 25vh;
        width: 100%;
        top: 4rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-bottom: #333333 solid 1px;

        transform: translateY(-150%);
        transition: transform 300ms ease-in-out;

        z-index: -1;
    }
    .mobile-nav-list-active{
        transform: translateY(0%);
    }

    .nav-bar{
        z-index: 1;
    }
    .nav-bar-active{
        border-bottom: none;
    }
    
    .nav-item{
        position: relative;
        z-index: 1;
        padding: 0;
    }

    #nav-icons{
        display: none;
    }

    #burger{
        display: block;
        cursor: pointer;
    }

    .center-logo{
        /* display: none; */
        width: 300px !important;
        height: auto !important;
    }

    /* Media */
    .main-container-media .center-content{
        margin: 2rem !important;
    }
}



.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-logo{
    border-radius: 50%;
    width: auto;
    height: 500px;
}

.start{
    position: absolute;
    bottom: 12rem;
    padding: 0.5rem 2rem;
    background-color: orange;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-radius: 8%;
    z-index: 1;
    transition: color 300ms ease-in-out;
}
.start::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    border-radius: 8%;
    z-index: -1;
    color: orange;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
.start:hover::before,
.start:focus::before{
    transform: scaleX(1);
}
.start:hover{
    color: orange;
}

footer{
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-top: solid 1px #333333;
}

footer p{
    padding: 0 2rem;
    position: relative;
    z-index: -2;
}



/* Media page */
.media{
    width: 100%;
}

.main-container-media{
    position: relative;
    z-index: 1;
}

.main-container-media .center-content{
    margin: 2rem 10rem;
    z-index: -2;
    position: relative;
}

.image-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: #333333 solid 1px;
}

.image-display img{
    width: 100%;
    height: auto;
    margin: 1rem 0;
    max-width: 300px;
}

.video-display{
    padding: 0 2rem;
    border-top: #333333 solid 1px;
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.yt-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-content p{
    font-size: 1.25rem;
}

.warpper{
    display: flex;
    align-self: center;
}